.notification {
	background-color: #555;
	color: white;
	text-decoration: none;
	padding: 15px 26px;
	position: relative;
	display: inline-block;
	border-radius: 2px;
}

.notification:hover {
	background: lightgrey;
}

.notification .badge {
	/*position: absolute;*/
	top: -10px !important;
	right: 0px;
	padding: 5px 10px;
	border-radius: 50%;
	background: orangered;
	color: white;
}

a.disable-links {
	pointer-events: none;
}